[Unit]
Description=Serupmon Monitoring Service
After=network.target

[Service]
ExecStart=/usr/local/bin/serupmon start --config /etc/serupmon/serupmon.hcl --prefix /etc/serupmon
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
